@import url("https://fonts.googleapis.com/css?family=Mulish:semibold,bold,black&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*** SplideJS ***/

@import '@splidejs/splide/css';
@import '@splidejs/react-splide/css/core';

@layer base {
    :root {
        --color-primary: rgb(176 151 115); 
        --color-secondary: rgb(124 102 71); /** hovering over primary **/
        --color-light: rgb(237 234 231);
        --color-dark: rgb(0, 0, 0);
        --color-danger: rgb(150, 20, 20);
    }

    h1.display, .h1.display {
        @apply text-8xl text-neutral-900 font-black tracking-tight
    }

    h1, .h1 {
        @apply text-5xl text-neutral-900 font-semibold leading-loose tracking-tight
    }

    h2, .h2 {
        @apply text-2xl text-neutral-900 font-bold leading-loose
    }

    h3, .h3 {
        @apply text-xl text-neutral-900 font-bold leading-extra-loose
    }

    h4, .h4 {
        @apply text-lg text-neutral-900 font-semibold leading-extra-loose tracking-tight
    }

    h5, .h5 {
        @apply text-sm text-neutral-500 uppercase
    }

    h6, .h6 {
        @apply text-xs text-neutral-700 font-bold
    }

    p, .p {
        @apply text-base text-neutral-900
    }

    small {
        @apply text-xs text-neutral-300 font-bold
    }

    blockquote, .blockquote {
        @apply text-3xl text-neutral-900 font-semibold leading-loose border-l-4 border-primary block pl-6
    }
}

.splide__pagination {
    bottom: -2rem;
}
.splide__pagination__page {
    margin: 4px;
    background: theme("colors.gray.500");
}

.splide__pagination__page.is-active {
    background: theme("colors.black")
}

#thumbnailSlides .splide__slide {
    border: 1px solid transparent;
}

#thumbnailSlides .splide__slide.is-visible.is-active {
    border: 1px solid theme("colors.dark");
}

.splide__arrow--prev {
    left: 0.5em;
    background: theme("colors.gray.100")
}

.splide__arrow--next {
    right: 0.5em;
    background: theme("colors.gray.100")
}

/** Button styles **/
.button, 
.button.outline {
    @apply text-neutral-900 w-64 border-2 border-neutral-900 
        py-2 px-4 rounded-md transition duration-200
        hover:bg-neutral-900 hover:text-white
        active:bg-neutral-900 active:text-white
}

.button.secondary {
    @apply bg-stone-900 text-white
        hover:bg-black
        active:bg-black
}

.button[disabled] {
    @apply text-neutral-300 border-neutral-200 cursor-not-allowed hover:bg-white
        active:scale-100
}

.button.primary {
    @apply bg-primary border-primary text-neutral-900 
        hover:bg-secondary hover:border-secondary
        active:bg-secondary
}

/** Link styles **/
a.with-chevron {
    position: relative;
}

a.with-chevron:after {
    @apply transition duration-200
}

a.with-chevron:after {
    content: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.73172 8.94743L4.40894 3.53425L5.83114 2.08789L12.5761 8.94743L5.83114 15.807L4.40894 14.3606L9.73172 8.94743Z' fill='%23070B0D'/%3E%3C/svg%3E%0A");
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    transform: translateX(0);
}

a.with-chevron:active:after {
    transform: translateX(2px);
}

a.with-chevron:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 3px;
    width: 0%;
    background: theme('colors.secondary')
}

a.with-chevron:hover:before {
    animation: line-grow 200ms ease-in-out forwards;
}

@keyframes line-grow {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.vertically-aligned {
    top: 50%;
    transform: translateY(-50%);
}

@import './layoutStore.css';