@import url("https://fonts.googleapis.com/css?family=Mulish:semibold,bold,black&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*** SplideJS ***/

@import '@splidejs/splide/css';
@import '@splidejs/react-splide/css/core';
.splide__pagination {
    bottom: -2rem;
}
.splide__pagination__page {
    margin: 4px;
    background: theme("colors.gray.500");
}

.splide__pagination__page.is-active {
    background: theme("colors.black")
}

button.splide__arrow {
    background-color: theme("colors.white");
}

.splide__arrow--prev {
    left: -3rem;
}

.splide__arrow--next {
    right: -3rem;
}

@layer base {
    h1.display, .h1.display {
        @apply text-8xl text-gray-900 font-black tracking-tight
    }

    h1, .h1 {
        @apply text-5xl text-gray-900 font-semibold leading-loose tracking-tight
    }

    h2, .h2 {
        @apply text-2xl text-gray-900 font-bold leading-loose
    }

    h3, .h3 {
        @apply text-xl text-gray-900 font-bold leading-extra-loose
    }

    h4, .h4 {
        @apply text-lg text-gray-900 font-semibold leading-extra-loose tracking-tight
    }

    h5, .h5 {
        @apply text-sm text-gray-500 uppercase
    }

    h6, .h6 {
        @apply text-xs text-gray-700 font-bold
    }

    p, .p {
        @apply text-base text-gray-900
    }

    small {
        @apply text-xs text-gray-300 font-bold
    }

    blockquote, .blockquote {
        @apply text-3xl text-gray-900 font-semibold leading-loose border-l-4 border-primary block pl-6
    }
}

/** Button styles **/
.button, 
.button.outline {
    @apply text-gray-1000 w-64 border-2 border-gray-1000 
        py-2 px-4 rounded-md transition duration-200
        hover:bg-gray-1000 hover:text-white
        active:bg-gray-1000 active:text-white
}

.button.secondary {
    @apply bg-stone-900 text-white
        hover:bg-black
        active:bg-black
}

.button[disabled] {
    @apply text-gray-300 border-gray-200 cursor-not-allowed hover:bg-white
        active:scale-100
}

.button.primary {
    @apply bg-primary border-primary text-gray-1000 
        hover:bg-primary-hovered hover:border-primary-hovered
        active:bg-primary-hovered
}

/** Link styles **/
a.with-chevron {
    position: relative;
}

a.with-chevron:after {
    @apply transition duration-200
}

a.with-chevron:after {
    content: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.73172 8.94743L4.40894 3.53425L5.83114 2.08789L12.5761 8.94743L5.83114 15.807L4.40894 14.3606L9.73172 8.94743Z' fill='%23070B0D'/%3E%3C/svg%3E%0A");
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    transform: translateX(0);
}

a.with-chevron:active:after {
    transform: translateX(2px);
}

a.with-chevron:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 3px;
    width: 0%;
    background: theme('colors.primary-hovered')
}

a.with-chevron:hover:before {
    animation: line-grow 200ms ease-in-out forwards;
}

@keyframes line-grow {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.vertically-aligned {
    top: 50%;
    transform: translateY(-50%);
}