@import url("https://fonts.googleapis.com/css?family=Mulish:semibold,bold,black&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*** SplideJS ***/

@import '@splidejs/splide/css';
@import '@splidejs/react-splide/css/core';

@layer base {
    :root {
        --color-primary: #111113; 
        --color-secondary: #1c1c2a; /** hovering over primary **/
        --color-light: #eaedfb;
        --color-dark: #09090b;
        --color-danger: rgb(150, 20, 20);
    }

    h1.display, .h1.display {
        @apply text-8xl text-neutral-900 font-black tracking-tight
    }

    h1, .h1 {
        @apply text-5xl text-neutral-900 font-semibold leading-loose tracking-tight
    }

    h2, .h2 {
        @apply text-2xl text-neutral-900 font-bold leading-loose
    }

    h3, .h3 {
        @apply text-xl text-neutral-900 font-bold leading-extra-loose
    }

    h4, .h4 {
        @apply text-lg text-neutral-900 font-semibold leading-extra-loose tracking-tight
    }

    h5, .h5 {
        @apply text-sm text-neutral-500 uppercase
    }

    h6, .h6 {
        @apply text-xs text-neutral-700 font-bold
    }

    p, .p {
        @apply text-base text-neutral-900
    }

    small {
        @apply text-xs text-neutral-300 font-bold
    }

    blockquote, .blockquote {
        @apply text-3xl text-neutral-900 font-semibold leading-loose border-l-4 border-primary block pl-6
    }
}